<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'detalle_producto' producto.idproducto %}">{{ producto.nombreprod }}</a>
                <form action="{% url 'agregar_carrito' producto.idproducto %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
{% endif %}

    <a href="{% url 'carrito_compras' %}">Ir al carrito de compras</a>
    <br>
    <a href="{% url 'listar_pedidos' %}">Ir a los pedidos</a>
</body>
</html>
